<div class="additional-links">
    <a href="~language_prefix~/~pagename~/pages/add" title="*Add new page*"><i class="fa fa-plus"></i></a>
</div>

<table cellpadding="0" cellspacing="0" class="admin-overview">
<thead>
    <tr>
        <th width="20%"></th>
        <th width="15%" class="text-left">*Page type*</th>
        <th width="25%" class="text-left">*alias*</th>
        <th width="25%" class="text-left">*Title*</th>
        <th width="5%" class="text-left">*Cache*</th>
        <th width="10%" class="text-left">*Template*</th>
    </tr>
</thead>
<tbody data-m-action="drag_sort" data-m-model="modules\pages\models\pages">
    ~items~
</tbody>
</table>