<tr data-id="~id~" id="id~id~">
    <td width="10%">
        <i class="move"></i>
        <a href="#"
           data-model="modules\pages\models\pages_types_modules"
           data-m-action="dynamic_edit"
           data-m-context="tr#id~id~"
           title="*Save*"
           class="edit save"><i class="fa fa-edit"></i></a>
        <a href="#"
           data-model="modules\pages\models\pages_types_modules"
           data-m-action="dynamic_edit"
           data-m-context="tr#id~id~"
           class="delete"
           title="*Delete*"><i class="fa fa-trash"></i></a>
        <input type="hidden" data-edit="type" value="~type~">
    </td>
    <td width="90%" class="text-left"><select data-edit="module">~classes_options~</select></td>
</tr>