<tr data-id="~type~">
    <td width="20%">
        <a href="#"
           data-model="modules\pages\models\pages_types"
           data-m-action="dynamic_edit"
           data-m-context='tr[data-id="~type~"]'
           title="*Edit*"
           class="edit"><i class="fa fa-edit"></i></a>
        <a href="~language_prefix~/~pagename~/pages/type-modules/~type~"
           title="*Edit page type modules*"
           class="edit"><i class="fa fa-cog"></i></a>
        <a href="#"
           data-model="modules\pages\models\pages_types"
           data-m-action="dynamic_edit"
           data-m-context='tr[data-id="~type~"]'
           class="delete"
           title="*Delete*"><i class="fa fa-trash"></i></a>
    </td>
    <td width="80%" class="text-left"><span data-edit="type">~type~</span></td>
</tr>